.movie-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.movie-content {
    margin-bottom: 20px;
}

.movie-title {
    text-align: center;
}